<%- include('./partials/header') %>

<!-- Form Wrapper -->
<div class="container flex justify-center h-fit px-4 mx-auto my-5">
    <div class="max-w-lg w-full bg-white shadow-lg rounded-xl p-8">
        <h2 class="text-3xl font-semibold text-gray-800 text-center capitalize tracking-tighter">
            Continue with Google
        </h2>
        <p class="text-gray-500 text-center text-sm mt-2">
            Sign in quickly and securely using your Google account.
        </p>
        
        <div class="mt-6 flex gap-4 justify-center">
            <a href="/user/auth/google"
                class="flex items-center gap-3 w-full sm:w-2/3 py-3 px-5 text-center text-gray-800 bg-gray-100 border border-gray-300 rounded-lg transition-transform duration-300 ease-in-out transform hover:bg-gray-200 hover:scale-105">
                <img src="https://img.icons8.com/?size=25&id=17949&format=png&color=000000" alt="Google" class="w-5 h-5">
                <span class="font-medium">Sign in with Google</span>
            </a>
        </div>
    </div>
</div>
<!-- Form Wrapper End -->

<%- include('./partials/footer') %>